html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: "Vazirmatn";
    src: url("./fonts/Vazirmatn-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

body {
    margin: 0;
    font-family: "Vazirmatn", "Vazir", sans-serif;
    background: #f5f5f5;
    color: #333;
    direction: rtl;
}

.hero {
    height: 700px;
    background: url("../image/12ff-1024x512.jpg") center/cover no-repeat;
    position: relative;
    background-attachment: fixed;
}

.overlay {
    background: rgba(0, 0, 0, 0.55);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
}

.overlay h1,
.overlay p {
    animation: fadeDown 1s ease forwards;
}

@keyframes fadeDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.overlay h1 {
    font-size: 32px;
    margin-top: 550px;
}

.container {
    max-width: 1000px;
    margin: auto;
    padding: 40px 20px;
}

.content {
    background: #fff;
    padding: 30px;
    border-radius: 12px;
    margin-bottom: 40px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.8s ease;
}

.content.show {
    opacity: 1;
    transform: translateY(0);
}

.gallery {
    max-width: 1000px;
    margin: 40px auto;
    padding: 0 20px;
}

.gallery-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.gallery-card {
    background: #fff;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.08);
    text-align: center;
}

.gallery-card img {
    width: 300px;
    height: 300px;
    object-fit: contain;
    margin-top: 20px;
}

.gallery-card p {
    padding: 10px;
    font-size: 15px;
    color: #555;
}

.news h3 {
    margin-bottom: 20px;
}

.news-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 60px;
}

.card-link {
    display: block;
    text-decoration: none;
    color: inherit;
}

.news-card {
    width: 100%;
    height: 100%;
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.05);
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.6s ease;
}

.news-card.show {
    opacity: 1;
    transform: translateY(0);
}

.news-card:hover {
    transform: translateY(-8px);
}


footer {
    background: #283148;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}