body {
    font-family: Vazirmatn, sans-serif;
    background: #f4f4f4;
}

.topbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 999;
    background: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 25px;
    height: 60px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.menu {
    display: flex;
    gap: 36px;
}

.menu a {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: #283148;
    font-size: 14px;
}

.menu a img {
    width: 24px;
    height: 24px;
}

.logo {
    margin-top: 12px;
}

.iconuser {
    width: 36px;
    height: 36px;
    margin-left: 46px;
}

.container {
    width: 1000px;
    margin: 100px auto;
    background: #fff;
    padding: 30px;
    border-radius: 16px;
}

.steps-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 40px;
}

.steps-container::before {
    content: '';
    position: absolute;
    top: 25px;
    left: 50px;
    right: 50px;
    height: 4px;
    background: #ccc;
    z-index: 0;
}

.step {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
    color: #aaa;
}

.step.active {
    font-weight: bold;
}

.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 4px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
}
.circle img {
    width: 60%;
    height: 60%;
}
.label {
    margin-top: 10px;
    font-weight: bold;
    text-align: center;
    color: #2bb0a6;

}
.step.active .circle {
    border-width: 4px;
}

.next-btn {
    margin-top: 30px;
    padding: 12px 40px;
    background: #468A9A;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.contain {
    margin: 40px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    padding: 30px;
    border-radius: 16px;
}

.form-box {
    border: 2px solid #BDC7C9;

    border-radius: 12px;
    padding: 20px 20px 70px;
    position: relative;
}

.form-group {
    margin-bottom: 16px;
}

label {
    font-size: 13px;
    margin-bottom: 6px;
    display: block;
}

input,
select,
textarea {
    width: 420px;

    padding: 10px 12px;
    border-radius: 8px;
    border: 1px solid #d1d5db;
    font-size: 14px;
    outline: none;
}

input:focus,
select:focus,
textarea:focus {
    border-color: #BDC7C9;
}

textarea {
    resize: none;
    height: 80px;
}


.error-text {
    color: #e11d48;
    font-size: 12px;
    margin-top: 4px;
    display: none;
}

.submit-btn {
    position: absolute;
    bottom: 15px;
    left: 15px;
    padding: 10px 24px;
    background: #82b4bf;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.submit-btn.active {
    background: #468A9A;
    cursor: pointer;
}

.site-footer {
    font-family: "Vazirmatn";
    margin-top: 40px;
    background: #f4f4f4;
    border-top: 6px solid #2b4f60;
    padding: 22px 18px 36px 18px
}

.footer-inner {
    max-width: 1100px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 18px;
    padding-bottom: 18px;
    border-bottom: 1px solid var(--card-border)
}

.footer-col h4 {
    margin: 0 0 8px 0
}

.footer-col ul {
    list-style: none;
    padding: 0;
    margin: 0
}

.footer-col ul li {
    margin-bottom: 8px
}

.footer-col a {
    color: var(--text);
    text-decoration: none
}

.footer-col.contact p {
    margin: 6px 0;
    font-size: 14px;

}

.socials {
    display: flex;
    gap: 8px;
    margin-top: 8px
}

.socials a {
    display: inline-block;
    padding: 6px 10px;
    border-radius: 6px;
    background: var(--muted);
    text-decoration: none;
    color: var(--text)
}

.footer-bottom {
    max-width: 1100px;
    margin: 12px auto 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
}

.footer-bottom .follow {
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 10px;
}

.social-icons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.social-icons img {
    width: 24px;
    height: 24px;
    object-fit: contain;
    transition: 0.3s;
    cursor: pointer;
}

.social-icons img:hover {
    opacity: 0.7;
}

.footer-bottom .copyright {
    color: var(--sub);
}

.site-footer,
.site-footer * {
    font-family: "Vazirmatn", sans-serif;
}



.product-group {
    display: flex;
    flex-direction: column;
}

.product-group ul li {
    margin-bottom: 8px;
}

@media (max-width:1000px) {

    .footer-inner {
        grid-template-columns: repeat(2, 1fr)
    }
}

@media (max-width:680px) {

    .footer-inner {
        grid-template-columns: 1fr
    }

}