:root{
  --bg:#fff;
  --muted:#f7f6f5;
  --accent:#f2c9be;
  --accent-dark:#e7a892;
  --green:#2f9c6e;
  --text:#111;
  --sub:#7b7b7b;
  --card-border:#e9d9d4;
  --shadow: rgba(0,0,0,0.08);
  --radius:12px;
  html, body {
  font-family: "Vazirmatn", "Vazir", sans-serif;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}
}

@font-face {
  font-family: "Vazirmatn";
  src: url("./fonts/Vazirmatn-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}


body {
    font-family: "mainFont";
    background: #FFFAF3;
    margin: 0;
    padding: 0;
}

.topbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 999;
    background: #FFFAF3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 25px;
    height: 60px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.menu {
    display: flex;
    gap: 36px;
}

.menu a {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: #4A2320;
    font-size: 14px;
}

.menu a img {
    width: 24px;
    height: 24px;
}

.logo {
    margin-top: 12px;
}

.iconuser {
    width: 36px;
    height: 36px;
    margin-left: 46px;
}

.iconcart {
    width: 44px;
    height: 36px;
    margin-left: 12px;
}

.search-box-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    color: #57626D;
}

.search-box {
    position: relative;
    width: 400px;
}

.search-box input {
    width: 100%;
    padding: 12px 40px 12px 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-family: "mainFont";
}

.search-box .search-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    pointer-events: none;
}

.slider {
    position: relative;
    margin: 30px auto;
    width: 90%;
    height: 403px;
    border-radius: 16px;
    overflow: hidden;
}

.slider-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: white;
    border: none;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    border: 2px solid #000000;
}

.prev {
    right: 10px;
}

.next {
    left: 10px;
}

.discount-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 30px auto 10px;
    white-space: nowrap;
}

.discount-section .title h2 {
    color: #844540;
    margin: 0;
}

.view-all {
    background: #844540;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    height: 33px;
    line-height: 33px;
    padding: 0 18px;
    display: inline-block;
    font-size: 14px;
    transition: 0.2s ease-in-out;
}


.products {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

.product-card {
    background: white;
    padding: 15px;
    border-radius: 10px;

    border: 2px solid transparent;
    transition: 0.3s ease;

    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.product-card:hover {
    border-color: #D9BC9D;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.price-old {
    font-size: 18px;
    color: #dd6a61;
    text-decoration: line-through;
    text-decoration-color: #dd6a61;
    margin: 5px 0;
}

.price-new {
    font-size: 16px;
    color: #1c8c3a;
    font-weight: bold;
    margin: 5px 0;
}

.popular-products {
    max-width: 1200px;
    margin: 30px auto;
    padding: 1rem 10px;
}

.popular-products h2 {
    text-align: center;
    margin: 2rem 0 1.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: #844540;
}

.product-scroll-container {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    padding-bottom: 20px;
    -webkit-overflow-scrolling: touch;
    gap: 20px;
}

.product-scroll-container::-webkit-scrollbar {
    display: none;
}

.popular-products .product-card {
    flex: 0 0 250px;
    background: white;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    border: 2px solid transparent;
    transition: 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    scroll-snap-align: start;
}

.popular-products .product-card:hover {
    border-color: #D9BC9D;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.popular-products .product-card img {
    width: 100%;
    height: 250px;
    object-fit: contain;
    background-color: #fff;
    border-radius: 4px;
    margin-bottom: 10px;
}

.popular-products .product-price {
    font-size: 18px;
    font-weight: bold;
    color: #000000;
}

.seasonal-styles {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem 10px;
}

.seasonal-styles h2 {
    text-align: center;
    margin: 2rem 0 1.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: #844540;
    position: relative;
}



.seasonal-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    justify-items: center;
}

.seasonal-card {
    width: 100%;
    max-width: 550px;
    height: 250px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    display: flex;
    border: 1px solid #4A2320;


}

.bg-section {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    font-weight: bold;
    color: #4A2320;
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.6);
}

.spring-bg {
    background-color: #FBE7FF;
    background-position: top left;
}

.summer-bg {
    background-color: #FDFFE4;
    background-position: top right;
}

.autumn-bg {
    background-color: #F9E1BA;
    background-position: top right;
}

.winter-bg {
    background-color: #F0FBFF;
    background-position: top right;
}

.model-image {
    width: 40%;
    height: 100%;
    object-fit: contain;
    background-color: white;
    object-position: bottom center;
}

.seasonal-card:nth-child(odd) .bg-section {
    order: 2;
}

.seasonal-card:nth-child(odd) .model-image {
    order: 1;
}

.seasonal-card:nth-child(even) .bg-section {
    order: 2;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.seasonal-card:nth-child(even) .model-image {
    order: 1;
}

.bg-section {
    padding: 10px;
}

.seasonal-card:nth-child(1) .model-image {
    background-color: #F8D8FF;
}

.seasonal-card:nth-child(2) .model-image {
    background-color: #E7ECAD;
}

.seasonal-card:nth-child(3) .model-image {
    background-color: #FCD089;
}

.seasonal-card:nth-child(4) .model-image {
    background-color: #E2F7FF;
}

.article-card {
    flex: 1 1 30%;
    max-width: 350px;
    background: #fff;
    border: 1px solid #eee;
    border-radius: 8px;
    overflow: hidden;
    text-align: right;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
}

.read-more-button {
    margin-top: auto;
    display: block;
    padding: 10px 15px;
    text-align: center;
    color: #982F0D;
    text-decoration: none;
    font-weight: bold;
    background-color: #FFBBB6;
    border-radius: 0 0 8px 8px;
}

.articles-grid {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}

.article-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.article-card h3 {
    padding: 10px 15px 5px;
    font-size: 1.1rem;
    font-weight: bold;
    color: #333;
}

.article-card p {
    padding: 0 15px 10px;
    font-size: 0.9rem;
    color: #666;
    line-height: 1.6;
}

.gift-card-banner-simple {
    max-width: 1200px;
    margin: 3rem auto;
    text-align: center;
    padding: 0 20px;
}


.full-gift-image {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 15px;
}

.site-footer{
    font-family: "Vazirmatn";
    margin-top:40px;
    background:#fff;
    border-top:6px solid var(--accent);
    padding:22px 18px 36px 18px
}
.footer-inner{
    max-width:1100px;
    margin:0 auto;
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap:18px;
    padding-bottom:18px;
    border-bottom:1px solid var(--card-border)
}
.footer-col h4{
    margin:0 0 8px 0
}
.footer-col ul{
    list-style:none;
    padding:0;
    margin:0
}
.footer-col ul li{
    margin-bottom:8px
}
.footer-col a{
    color:var(--text);
    text-decoration:none
}
.footer-col.contact p{
    margin:6px 0;
    font-size:14px;
    
}
.socials{
    display:flex;
    gap:8px;
    margin-top:8px
}
.socials a{
    display:inline-block;
    padding:6px 10px;
    border-radius:6px;
    background:var(--muted);
    text-decoration:none;
    color:var(--text)
}
.footer-bottom{
    max-width:1100px;
    margin:12px auto 0 auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding-top:12px;
}

.footer-bottom .follow{
    font-weight:700;
    display:flex;
    align-items:center;
    gap:10px;
}

.social-icons{
    display:flex;
    align-items:center;
    gap:10px;
}

.social-icons img{
    width:24px;     /* اندازه آیکون‌ها */
    height:24px;
    object-fit:contain;
    transition:0.3s;
    cursor:pointer;
}

.social-icons img:hover{
    opacity:0.7;    /* افکت هاور */
}

.footer-bottom .copyright{
    color:var(--sub);
}

.site-footer,
.site-footer * {
  font-family: "Vazirmatn", sans-serif;
}



.product-group {
    display: flex;
    flex-direction: column;
}

.product-group ul li {
    margin-bottom: 8px;
}

@media (max-width:1000px){

  .footer-inner{grid-template-columns: repeat(2,1fr)}
}
@media (max-width:680px){

  .footer-inner{grid-template-columns:1fr}

}